.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 20px;
}

.state {
  font-size: 30px;
  color: #ff8800;
}

.state2 {
  font-size: 30px;
  color: #00ffff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
