.root {
  border: 1px solid #e33408;
  border-spacing: 0;
}

.root th,
.root td {
  padding: 10px;
  border-top: 1px solid #e33408;
  border-right: 1px solid #e33408;
}

.selectedRow {
  background-color: #fcb3b3;
}

.selectionHandle {
  cursor: pointer;
  border-right: 2px solid #e33408;
}

.selectionHandle:hover {
  background-color: #f3a38b;
}
